{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block tab_name %} my blog {% endblock %}</title>

  <link rel="stylesheet" href="{% static 'styles.css' %}" />  
  {% block css %} 
  {% endblock %}
</head>

<body>
  {% block others%}
  {% endblock %}
  <div class="title">
    <h4>{% block title %} {% endblock %}</h4>
  </div>

  <div class="container">{% block content %} {% endblock %}</div>
  {% block extras %}
  {% endblock %}
</body>

</html>